@model IEnumerable<User>

@{
    ViewData["Title"] = "Users";
}

<h1>Users</h1>
<a asp-action="Create">Create</a>

<table>
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            Action
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (User user in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => user.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => user.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@user.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@user.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@user.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>